extends ../layout

block content

    div.container
        form.form-horizontal(action="/admin/nachricht/#{nachricht.ID}/delete")
            h2 Benachrichtigung
            div.form-group
                label.col-sm-3.control-label An
                div.col-sm-8
                    input.form-control(id="Klassenlehrer",name="Klassenlehrer", type="text", placeholder="Name",value="Administrator")
            div.form-group
                label.col-sm-3.control-label Vorname
                div.col-sm-8
                    input.form-control(id="Vorname",name="Vorname", type="text",value="#{nachricht.Vorname}") 
            div.form-group
                label.col-sm-3.control-label Nachname
                div.col-sm-8
                    input.form-control(id="Nachname",name="Nachname", type="text",value="#{nachricht.Nachname}")   
            label.control-label(style="margin-bottom:10px;") Nachricht
            div.form-group
                textarea.form-control(rows="10",id="Anfrage",name="Anfrage") #{nachricht.Nachricht}
            script.
                $('input').each(function(){
                    $(this).prop('disabled', true);
                })
                $('textarea').each(function(){
                    $(this).prop('disabled', true);
                })  
            div.mainbox.col-md-3(id="Reset", style="margin-left: 20%")
                input.btn.btn-success.btn-block(name="reset", type="submit", id="submit",value="Bearbeitet",style="margin-bottom:20px")    
