extends ../layout

block content

    div.container
        h2 Ausbildungberuf
        p(style="margin-bottom: 50px;") Hier können Sie den Ausbildungsberuf editieren. <br/>
        div.container
            form.form-horizontal(action="/ausbildungsberufe/#{ausbildungsberuf.Ausbildungsberuf_ID}/abschicken", method="POST",enctype="multipart/form-data")
                div.form-group
                    label.col-sm-3.control-label Name
                    div.col-sm-8
                        input.form-control(value="#{ausbildungsberuf.Ausbildungsberuf_Name}",name="Ausbildungsberuf_Name")
                div.form-group
                    label.col-sm-3.control-label Fachrichtung
                    div.col-sm-8
                        input.form-control(value="#{ausbildungsberuf.Fachrichtung}",name="Fachrichtung")
                
                div.span7.text-center    
                    button.btn.btn-success.btn-block(type="submit",style="margin-top:50px;width:60%;") Abschicken
