extends ../layout

block content
    form
        div.container.col-md-8.col-md-offset-3
            h2 Willkommen in der Lehrer Stammdatenverwaltung
            | <br />
            h4 Hier können Sie 
            | <br />
            b - Formulare ansehen, herunterladen und bearbeiten <br />
            b - Betriebe ansehen, bearbeiten und löschen <br />
            b - Alle Schüler durchsuchen, diese bearbeiten und löschen <br />
            b - Alle Lehrer durchsuchen, diese bearbeiten, hinzufügen und löschen <br />
            b - Ausbildungsberufe hinzufügen, bearbeiten und löschen <br />
            b - Klassen hinzufügen, bearbeiten und löschen <br />
            b - Admin-Benachrichtigungen prüfen <br />
            
            a.btn.btn-primary.btn-sm(href="/backup",style="margin-top:40px") Aktuelles Datenbank-Dump herunterladen
        style.
            b {
                font-size: 19px;
                color: #464646;
            }
