extends ../layout

block content

    div.container
        - console.log(klasse)
        h2 Klasse
        p(style="margin-bottom: 50px;") Hier können Sie die Klasse editieren. <br/>
        div.container
            form.form-horizontal(action="/klassen/#{klasse.ID}/abschicken", method="POST",enctype="multipart/form-data")
                div.form-group
                    label.col-sm-3.control-label Name
                    div.col-sm-8
                        input.form-control(value="#{klasse.Name}",name="Name")
                div.form-group
                    label.col-sm-3.control-label Klassenlehrer
                    div.col-sm-8
                        select.form-control(name="Klassenlehrer_ID",placeholder="Auswählen")
                            div.col-sm-8
                            each l in lehrer
                                - if (l.ID == klasse.Klassenlehrer_ID)
                                    option(selected="selected", value="#{l.ID}") #{l.Vorname} #{l.Nachname}
                                - else
                                    option(value="#{l.ID}") #{l.Vorname} #{l.Nachname}
                input(name="ID",value="#{klasse.ID}",style="display:none;")
                
                div.span7.text-center    
                    button.btn.btn-success.btn-block(type="submit",style="margin-top:50px;width:60%;") Abschicken
