extends ../layout

block content

    div.container
        h2 Klassen
        div(style="margin-top:20px;margin-bottom:20px")
            +msg()
        p(style="margin-bottom:20px;")
            | Hier können sie Klassen editieren und löschen <br />
            | Reguläre Ausdrücke sind unterstützt!
        a.btn.btn-success.btn-xs(href="/klassen/new/edit",style="margin:20px") Neue Klasse erstellen
        input.form-control(type="text", id="suche", name="suche", spellcheck="false")
        table.table.table-striped.table-hover
            thead
                tr
                    th Name
                    th Klassenlehrer
                    th  
            tbody.liste
                for k in klassen
                    tr
                        td #{k.Name}
                        td #{k.Vorname} #{k.Nachname}
                        td
                            a.btn.btn-sm.btn-danger.del-btn(src="/klassen/#{k.ID}/delete",style="margin-right: 5px")
                                span.glyphicon.glyphicon-remove
                            a.btn.btn-sm.btn-info(href="/klassen/#{k.ID}/edit")
                                span.glyphicon.glyphicon-pencil

    script.
        $(".del-btn").on("click", function() {
            $("#delete").attr("href", $(this).attr("src"));
            $("#confirm").modal("show");
        });

    div.modal.fade(id="confirm",role="dialog",aria-hidden="true",tabindex="-1")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    | Wollen Sie die Klasse wirklich löschen?
                div.modal-footer
                    a.btn.btn-primary(id="delete",type="button",href="") Löschen
                    button.btn(type="button",data-dismiss="modal") Abbrechen


    script.
        $(document).ready(function () {
            (function ($) {
                $("#suche").keyup(function () {
                    var suchbegriff = $(this).val();
                    $(".liste tr").each(function(){
                        console.log($(this).text().search(new RegExp(suchbegriff, "i")));
                        if ($(this).text().search(new RegExp(suchbegriff, "i")) < 0) {
                            $(this).fadeOut();
        				} else {
        					$(this).fadeIn();
        				}
        			});

                })

            }(jQuery));
        });
