extends ../layout
block content
    div.container
        form.form-horizontal(action="/lehrer_hinzufuegen/abschicken", method="POST",data-toggle="validator")
            h2 Stammdatenverwaltung
            h4.heading_register Persönliche Daten
            div.form-group
                label.col-sm-3.control-label E-Mail
                div.col-sm-8
                    input.form-control(id="Lehrer_EMail",name="Lehrer_EMail", type="email",placeholder="EMail",data-error="E-Mail Adresse muss ein @ enthalten.",required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Passwort
                div.col-sm-8
                    input.form-control(id="Lehrer_PasswortHash",name="Lehrer_PasswortHash", type="password", placeholder="Passwort",minlength="6",maxlength="20",data-error="Passwort muss 6-20 Zeichen enthalten",data-match="#Lehrer_PasswortHash",data-match-error="Die Passwörter stimmen nicht überrein.",required) 
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Passwort Wiederholen
                div.col-sm-8
                    input.form-control(id="Lehrer_PasswortHashWiederholen",name="Lehrer_PasswortHashWiederholen", type="password", placeholder="Passwort",minlength="6",maxlength="20",data-error="Passwort muss 6-20 Zeichen enthalten",data-match="#Lehrer_PasswortHash",data-match-error="Die Passwörter stimmen nicht überrein.",required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Anrede
                div.col-sm-2
                    select.form-control(id="Lehrer_Anrede",name="Lehrer_Anrede",placeholder="Auswählen",required)
                            option(value="Frau") Frau
                            option(value="Herr") Herr
            div.form-group
                label.col-sm-3.control-label Vorname
                div.col-sm-8
                    input.form-control(id="Lehrer_Vorname",name="Lehrer_Vorname", type="text",placeholder="Vorname",required)
            div.form-group
                label.col-sm-3.control-label Nachname
                div.col-sm-8
                    input.form-control(id="Lehrer_Nachname",name="Lehrer_Nachname", type="text",placeholder="Nachname",required)
            div.form-group
               label.col-sm-3.control-label Klassenlehrer der Klasse
               div.col-sm-4
                    select.form-control(id="Klasse_Name",name="Klasse_Name",placeholder="Klasse",required)
                        each k in klasse
                            option(value="#{k.ID}") #{k.Name}
                        option(value="") Keine
            div.form-group
                label.col-sm-3.control-label Geburtsdatum
                div.col-sm-3
                    input.form-control(id="Lehrer_Geburtsdatum",name="Lehrer_Geburtsdatum",placeholder="YYYY-MM-DD",required)  
            div.form-group
                label.col-sm-3.control-label Telefonnummer
                div.col-sm-8
                    input.form-control(id="Lehrer_Telefonnummer",name="Lehrer_Telefonnummer", type="text",placeholder="Telefonnummer",required)
                    span.help-block.with-errors Bitte ohne Bindestriche (-) eingeben.
            div.form-group
                label.col-sm-3.control-label Handynummer 
                div.col-sm-8
                    input.form-control(id="Lehrer_Handynummer",name="Lehrer_Handynummer", type="text",placeholder="Handynummer",required)
            h4.heading_register Adresse
            div.form-group
                label.col-sm-3.control-label Wohnort*
                div.col-sm-8
                    input.form-control(id="Lehrer_wohnort",name="Lehrer_wohnort", type="text",placeholder="Wohnort",required)
            div.form-group
                label.col-sm-3.control-label PLZ*
                div.col-sm-8
                    input.form-control(id="Lehrer_plz",name="Lehrer_plz", type="int",placeholder="PLZ",data-maxlength="5",data-minlength="5",required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label vorherige Straße
                div.col-sm-8
                    input.form-control(id="Lehrer_straße_vorher",name="Lehrer_straße_vorher", type="text",placeholder="Straße")

            div.form-group
                label.col-sm-3.control-label Straße*
                div.col-sm-8
                    input.form-control(id="Lehrer_straße",name="Lehrer_straße", type="text",placeholder="Straße",required)
            div.form-group
                label.col-sm-3.control-label Hausnummer*
                div.col-sm-8
                    input.form-control(id="Lehrer_hausnummer",name="Lehrer_hausnummer",type="text",placeholder="Hausnummer",required)   
            div.mainbox.col-md-3(id="Ändern", style="margin-left: 16%")
                input.btn.btn-success.btn-block(name="submit", type="submit", id="reset",value="Anlegen",style="margin-bottom:20px")  
            
            script.
                $('#Lehrer_Geburtsdatum').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
