extends ../layout

block content

    div.container
        h2 Lehrer
        p(style="margin-bottom:20px;")
            | Hier können Sie ganz einfach nach Lehrern aus der gesamten Datenbank suchen. <br />
            | Reguläre Ausdrücke sind unterstützt!
        - if(sess.typ == UserType.admin)
            a.btn.btn-success.btn-xs(href="/lehrer_hinzufuegen",style="margin:20px") Neuen Lehrer erstellen
        input.form-control(type="text", id="suche", name="suche", spellcheck="false")
        table.table.table-striped.table-hover
            thead
                tr
                    th Vorname
                    th Nachname
                    th E-Mail
                    th  
            tbody.liste
                - console.log(lehrer)
                for l in lehrer
                    tr
                        td #{l.Vorname}
                        td #{l.Nachname}
                        td #{l.EMail}
                        td
                            - if(sess.typ == UserType.admin)
                                a.btn.btn-sm.btn-danger(href="/admin/lehrer/#{l.ID}/delete",style="margin-right: 5px")
                                    span.glyphicon.glyphicon-remove
                            a.btn.btn-sm.btn-info(href="/lehrer/lehrersuche/#{l.ID}")
                                span.glyphicon.glyphicon-pencil


    script.
        $(document).ready(function () {
            (function ($) {
                $("#suche").keyup(function () {
                    var suchbegriff = $(this).val();
                    $(".liste tr").each(function(){
                        console.log($(this).text().search(new RegExp(suchbegriff, "i")));
                        if ($(this).text().search(new RegExp(suchbegriff, "i")) < 0) {
                            $(this).fadeOut();
        				} else {
        					$(this).fadeIn();
        				}
        			});

                })

            }(jQuery));
        });
