mixin msg()
    - if(sess.msg)
        each m in sess.msg
            div.alert.alert-danger(style="margin:5px;")
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden="hidden")
                span.sr-only
                |   #{m}

mixin eintrag(link, titel)
    - if(path === link)
        li.active
            a(href="#{link}") #{titel}
    - else
        li
            a(href="#{link}") #{titel}


block header
    // https://github.com/ALT-F1/bootstrap3-jade-node-express-grunt/blob/master/app/views/bootstrap3-templates/navbar-fixed-top.jade
    div.navbar.navbar-default.navbar-fixed-top(role='navigation', id="header")
        div.container
            div.navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                - if(sess.typ == UserType.anonym)
                    a.navbar-brand(href='/') LGS Sdv
                - else 
                    a.navbar-brand(href='/dashboard') LGS Sdv
            div.navbar-collapse.collapse
                case sess.typ
                    when UserType.anonym
                        include header/anonym
                    when UserType.schüler
                        include header/schüler
                    when UserType.lehrer
                        include header/lehrer
                    when UserType.admin
                        include header/admin
