extends layout

block content

    div.container
              #c182.csc-default
                .csc-header.csc-header-n1
                  h3.csc-firstHeader Impressum / Anbieterkennzeichnung
                article
                  p.bodytext
                    b
                      span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                        | Informationen nach &sect; 5 Telemediengesetz (TMG) und
                        br
                        |  &sect; 55 Abs. 2 Rundfunkstaatsvertrag (RStV):
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      | Land Hessen
                      br
                      | Hessisches Kultusministerium
                      br
                      |  Luisenplatz 10
                      br
                      |  65185 Wiesbaden
                      br
                      |  Tel.: +49 (611) 368 - 0
                      br
                      |  Fax.: +49 (611) 368 - 2099
                      br
                      br
                      |  E-Mail: 
                      a(href="javascript:linkTo_UnCryptMailto('nbjmup+qptutufmmfAiv/ttb/mtb/ifttfo/ef');") poststelle(at)hu.ssa.lsa.hessen.de
                  h6
                    i
                      span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                        | Hinweis: Um Spam-E-Mails zu vermeiden, haben wir das &quot;@&quot; in unserer Mail-Adresse mit &quot;(at)&quot; ersetzt. Bitte verwenden Sie stattdessen wieder das &quot;@&quot;, wenn Sie uns kontaktieren m&ouml;chten.
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      | Das Land Hessen ist eine K&ouml;rperschaft des &ouml;ffentlichen Rechts. Es wird durch den hessischen Ministerpr&auml;sidenten vertreten.
                  p.bodytext
                    b
                      span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;') Inhaltlich Verantwortlicher i. S. d &sect; 5 TMG und &sect; 55 Abs. 2 RStV:
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      | Schuleiter OStD Dr. Kurt Herget
                      br
                      | Ludwig-Gei&szlig;ler-Schule
                      br
                      |  Akademiestr. 41
                      br
                      |  63450 Hanau
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      b Redaktionsleitung/Ansprechpartner:
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')  Matthias Hoffbauer
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      b Zust&auml;ndige Aufsichtsbeh&ouml;rde:
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      | Staatliches Schulamt f&uuml;r den Main-Kinzig-Kreis (SSA MKK)
                      br
                      |  Hessen-Homburg-Platz 8,
                      br
                      |  63452 Hanau
                      br
                      |  Tel.: +49 (6181) 9062 - 0
                      br
                      |  Fax.: +49 (6181) 9062 - 199
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      b Fotos:
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      | Unterrichtssituationen, Detailaufnahmen Laborr&auml;ume und Werkst&auml;tten, Einzelportraits:
                      br
                      | &copy; R. Fischenich, Nutzungsrechte Ludwig-Gei&szlig;ler-Schule
                  p.bodytext
                    span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                      span(style='line-height: 115%; font-family: "Arial","sans-serif"; font-size: 10pt;')
                        | Au&szlig;enaufnahmen, Projekte und AGs:
                        br
                        | &copy; Matthias Hoffbauer, Nutzungsrechte Ludwig-Gei&szlig;ler-Schule
              #c180.csc-default
                .csc-header.csc-header-n2
                  h3 Haftungsausschluss
                p.bodytext Inhalt des Onlineangebotes
                article
                  p.bodytext
                    span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                      | Die Ludwig-Gei&szlig;ler-Schule &uuml;bernimmt keinerlei Gew&auml;hr f&uuml;r die Aktualit&auml;t, Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der bereitgestellten Informationen.
                  p.bodytext
                    span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                      | Haftungsanspr&uuml;che gegen die Ludwig-Gei&szlig;ler-Schule, welche sich auf Sch&auml;den materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollst&auml;ndiger Informationen verursacht wurden, sind grunds&auml;tzlich ausgeschlossen, sofern seitens der Ludwig-Gei&szlig;ler-Schule kein nachweislich vors&auml;tzliches oder grob fahrl&auml;ssiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich.
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Die Ludwig-Gei&szlig;ler-Schule beh&auml;lt es sich ausdr&uuml;cklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ank&uuml;ndigung zu ver&auml;ndern, zu erg&auml;nzen, zu l&ouml;schen oder die Ver&ouml;ffentlichung zeitweise oder endg&uuml;ltig einzustellen.
                p.bodytext
                  b
                    span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"') Verweise und Links
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Die Inhalte dieser Website enthalten mitunter direkte oder indirekte Verweise (sog. Links) auf externe Internetseiten. Dabei handelt es sich um weitervermittelte Inhalte, die sich die Ludwig-Gei&szlig;ler-Schule nicht zu eigen macht. Die Verantwortlichkeit liegt beim jeweiligen externen Anbieter. Die Internet-Verantwortlichen der Ludwig-Gei&szlig;ler-Schule erkl&auml;ren ausdr&uuml;cklich, dass sie zum Zeitpunkt der Linksetzung keine gegen geltendes Recht versto&szlig;enden Inhalte auf den externen Internetseiten erkannt haben und distanzieren sich ausdr&uuml;cklich von allen Inhalten der verlinkten Internetseiten, die nach der Verlinkung ver&auml;ndert wurden. Sollten Sie der Ansicht sein, dass die verlinkten externen Seiten gegen geltendes Recht versto&szlig;en oder sonst unangemessene Inhalte haben, so teilen Sie uns dies bitte umgehend mit. Es wird keine Haftung f&uuml;r Sch&auml;den &uuml;bernommen, die aus der Benutzung dieser oder fremder Websites entstehen.
                p.bodytext
                  b
                    span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"') Urheber- und Kennzeichenrecht
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Die Internet-Verantwortlichen der Ludwig-Gei&szlig;ler-Schule sind bestrebt, bei jeglichen Inhalten der Website die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte sowie aller anderen Medien zu beachten. Die Internet-Verantwortlichen der Ludwig-Gei&szlig;ler-Schule versuchen soweit wie m&ouml;glich selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zur&uuml;ckzugreifen.
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte gesch&uuml;tzten Marken- und Warenzeichen unterliegen uneingeschr&auml;nkt den Bestimmungen des jeweils g&uuml;ltigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigent&uuml;mer. Allein aufgrund der blo&szlig;en Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter gesch&uuml;tzt sind!
                p.bodytext
                  b
                    span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"') Datenschutz
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Sollte im Rahmen des Internetangebots die M&ouml;glichkeit zur Eingabe personenbezogener Daten bestehen (z.B. E-Mail-Adresse, Name, etc.), so geschieht die Mitteilung dieser Daten durch den Benutzer des Angebots ausdr&uuml;cklich auf freiwilliger Basis. In keinem Fall werden diese Daten an Dritte weitergegeben, sondern lediglich zur Nutzung des Internetangebots erhoben.
                p.bodytext
                  b
                    span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"') Rechtswirksamkeit dieses Haftungsausschlusses
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollst&auml;ndig entsprechen sollten, bleiben die &uuml;brigen Teile des Dokumentes in ihrem Inhalt und ihrer G&uuml;ltigkeit davon unber&uuml;hrt.
                p.bodytext
                  span(style='font-size:10.0pt; line-height:115%; font-family: "Arial","sans-serif"')
                    | Dieser Haftungssauschluss basiert auf dem Text des kostenlosen Dienstes von 
                    a.external-link-new-window(href='http://www.disclaimer.de/', title='Öffnet externen Link in neuem Fenster', target='_blanc') http://www.disclaimer.de/
              // TYPO3SEARCH_end
