extends layout

block content
    form(id="loginform", action="/login/abschicken", method="POST")
        div.container.col-md-6.col-md-offset-3
            h2 Stammdatenverwaltung der Ludwig-Geissler-Schule
            h4 Willkommen bei der Stammdatenverwaltung der Ludwig-Geissler-Schule Hanau.
            h4 Wenn sie bereits einen Account haben können sie sich unten anmleden.
            h4 Falls nicht klicken Sie bitte auf "Jetzt Registrieren".
            
            div.mainbox.col-md-6.col-md-offset-2
                +msg()
                div(style="margin-bottom: 25px; margin-top: 50px")
                    input.form-control(name="email", type="text", placeholder="E-Mail")
                div(style="margin-bottom: 15px")
                    input.form-control(name="passwort", type="password", placeholder="Passwort")
                div(style="margin-bottom: 20px; margin-left: 25px")
                    a.btn.btn-success.btn-xs(href="/registrieren") Jetzt registrieren
                    a.btn.btn-success.btn-xs(href="/passwort-vergessen",style="margin-left: 20px") Passwort vergessen?
                div(style="margin-bottom: 30px")
                    input.btn.btn-success.btn-block(name="submit", type="submit", id="submit", value="Anmelden")

                    
                
            
        
