doctype html
html
    head
        title= title
        meta(charset="utf-8", http-equiv="X-UA-Compatible", "IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-datetimepicker.css')
        link(rel='stylesheet', href='/css/bootstrap-flatly.min.css')
        
    body
        div.container
            div.alert.alert-danger
                | Sie MÜSSEN Javascript aktivieren, wenn Sie diese Seite verwenden wollen!!!
    
