include header


doctype html
html
    head
        title= title
        meta(charset="utf-8", http-equiv="X-UA-Compatible", "IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        noscript
            META(HTTP-EQUIV="Refresh",CONTENT="0;URL=javascripterror")
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-datetimepicker.css')
        link(rel='stylesheet', href='/css/bootstrap-flatly.min.css')
        script(language="JavaScript", type="text/javascript", src="/js/jquery-2.1.4.min.js")
        script(language="JavaScript", type="text/javascript", src="/js/moment.js")
        script(language="JavaScript", type="text/javascript", src="/js/de.js")
        script(language="JavaScript", type="text/javascript", src="/js/bootstrap.min.js")
        script(language="JavaScript", type="text/javascript", src="/js/bootstrap-datetimepicker.min.js")
        script(language="JavaScript", type="text/javascript", src="/js/user.js")
        script(language="JavaScript", type="text/javascript", src="/js/validator.js")
        script(language="JavaScript", type="text/javascript", src="/js/validator.min.js")
        
    body
    block header
    div.wrap
        block content
    footer
        div.navbar.navbar-default.navbar-fixed-bottom.footer
            div.container
                p.text-muted(style="margin-bottom: 5px;") (C) by ITology - 
                    a(href="/impressum") Impressum
    
