extends layout

block content
    div.container-fluid
        div.mainbox.col-md-6.col-md-offset-3
            form(id="loginform", action="/login/abschicken", method="POST")
                +msg()
                div(style="margin-bottom: 25px; margin-top: 50px")
                    input.form-control(name="email", type="text", placeholder="E-Mail")
                    
                div(style="margin-bottom: 50px")
                    input.form-control(name="passwort", type="password", placeholder="Passwort")
                
                div(style="margin-bottom: 25px")
                    input.btn.btn-success.btn-block(name="submit", type="submit", id="submit", value="Abschicken")
                div(style="margin-bottom: 25px")
                    a.btn.btn-default.btn-block(href="/passwort-vergessen") Passwort vergessen?
