extends layout

block content
    div.container  
        h1 Über die Schule
        | Die Ludwig-Geißler-Schule ist eine gewerblich-technische und berufsbildende Schule der Stadt Hanau 
        | und des Main-Kinzig-Kreises mit den Schwerpunkten... <br/>
        | Beispieltext... 
