extends layout

block content
    div.container
        form(id="loginform", action="/passwort-vergessen/abschicken", method="POST")
            +msg()
            div(style="margin-bottom: 25px; margin-top: 50px")
                input.form-control(name="email", type="text", placeholder="E-Mail")
            div(style="margin-bottom: 25px")
                input.btn.btn-success.btn-block(name="submit", type="submit", id="submit", value="Passwort zurücksetzten")
