extends layout

block content
    div.container(id="form")
          form.form-horizontal(action="/registrieren/abschicken", method="POST",data-toggle="validator")
            h1 Registrierung
            +msg()
            p(id="registerText")
                | Bitte geben Sie Ihre gesamten Stammdaten an.
                | Es müssen alle Felder mit * ausgefüllt werden.
            h4.heading_register Login Daten
            div.form-group
                label.col-sm-3.control-label E-Mail*
                div.col-sm-8
                    input.form-control(id="EMail",name="EMail", type="email", placeholder="E-Mail",data-error="E-Mail Adresse muss ein @ enthalten.", required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Passwort*
                div.col-sm-8
                    input.form-control(id="PasswortHash",name="PasswortHash", type="password", placeholder="Passwort",minlength="6",maxlength="20",data-error="Passwort muss 6-20 Zeichen enthalten",required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Passwort Wiederholen*
                div.col-sm-8
                    input.form-control(id="PasswortHashWiederholen",name="PasswortHashWiederholen", type="password", placeholder="Passwort",minlength="6",maxlength="20",data-error="Passwort muss 6-20 Zeichen enthalten",data-match="#PasswortHash",data-match-error="Die Passwörter stimmen nicht überrein.",required)
                    div.help-block.with-errors
            h4.heading_register Persönliche Daten
            div.form-group
                label.col-sm-3.control-label Anrede*
                div.col-sm-2
                    select.form-control(id="Anrede",name="Anrede",placeholder="Auswählen",required)
                        option(value="Herr") Herr
                        option(value="Frau") Frau
            div.form-group 
                label.col-sm-3.control-label Vorname*
                div.col-sm-8
                    input.form-control(id="Vorname",name="Vorname", type="text", placeholder="Vorname", required)
            div.form-group
                label.col-sm-3.control-label Name*
                div.col-sm-8
                    input.form-control(id="Nachname",name="Nachname", type="text", placeholder="Name", required)
            div.form-group
                label.col-sm-3.control-label Geburtsdatum*
                div.col-sm-3
                    input.form-control(id="Geburtsdatum",name="Geburtsdatum",placeholder="YYYY-MM-DD",pattern="?-?-?")
            div.form-group
                label.col-sm-3.control-label Geburtsort*
                div.col-sm-8
                    input.form-control(id="Geburtsort",name="Geburtsort", type="text", placeholder="Geburtsort", required)
            div.form-group
                label.col-sm-3.control-label Telefonnummer*
                div.col-sm-8
                    input.form-control(id="Telefonnummer",name="Telefonnummer", type="text", placeholder="Telefonnummer", required)
                    span.help-block.with-errors Bitte ohne Bindestriche (-) eingeben.
            div.form-group
                label.col-sm-3.control-label Handynummer
                div.col-sm-8
                    input.form-control(id="Handynummer",name="Handynummer", type="text", placeholder="Handynummer")
            div.form-group
                label.col-sm-3.control-label Religion*
                div.col-sm-4
                    select.form-control(id="Religion",name="Religion",placeholder="Auswählen", required)
                        option(value="Katholisch") Katholisch
                        option(value="Evangelisch") Evangelisch
                        option(value="Ethik") Ethik
            div.form-group
                label.col-sm-3.control-label Staatsangehörigkeit*
                div.col-sm-3
                    input.form-control(id="Staatsangehörigkeit",name="Staatsangehörigkeit",value="Deutschland", required)
            div.form-group
                label.col-sm-3.control-label Flüchtling
                div.col-sm-4
                    input.checkbox(id="Flüchtling",name="Flüchtling",type="checkbox",value="1",default="0")  
            div.form-group
                label.col-sm-3.control-label Einwanderer
                div.col-sm-1
                    input.checkbox(id="Einwanderer",name="Einwanderer",type="checkbox",value="1",onclick="javascript:yesnoCheck()",default="0")
            div.form-group 
                label.col-sm-3.control-label(id="ifYes2",style="visibility:hidden") Seit
                div.col-sm-3(id="ifYes",style="visibility:hidden")
                    input.form-control(id="seit",name="Einwanderer_seit",placeholder="YYYY-MM-DD")
            div.form-group
                label.col-sm-3.control-label Zuzug nach Deutschland
                div.col-sm-3
                    input.form-control(id="Zuzug",name="Zuzug",placeholder="YYYY-MM-DD")
            div.form-group
                label.col-sm-3.control-label Familiensprache*
                div.col-sm-3
                    input.form-control(id="Familiensprache",name="Familiensprache",value="Deutsch", required)
            div.form-group
                label.col-sm-3.control-label vorheriger Abschluss*
                div.col-sm-6
                    select.form-control(id="Abschluss_vorher",name="Abschluss_vorher", required)
                        option(value="Hauptschulabschluss") Hauptschulabschluss
                        option(value="Qualifizierter Hauptschulabschluss") Qualifizierter Hauptschulabschluss
                        option(value="Realschulabschluss") Realschulabschluss
                        option(value="Fachhochschulreife") Fachhochschulreife
                        option(value="Abitur") Abitur
            // Benötigt DB Zugriff
            div.form-group
               label.col-sm-3.control-label Ausbildungsberuf*
               div.col-sm-6
                    select.form-control(id="Ausbildungsberuf_Name",name="Ausbildungsberuf_Name",placeholder="Ausbildungsberuf", required)
                        each ausbildungsberuf in ausbildungsberufe
                            option(value="#{ausbildungsberuf.Ausbildungsberuf_ID}") #{ausbildungsberuf.Ausbildungsberuf_Name}    
            div.form-group
               label.col-sm-3.control-label Klasse*
               div.col-sm-6
                    select.form-control(id="Klasse_Name",name="Klasse_Name",placeholder="Klasse", required)
                        each k in klasse
                            option(value="#{k.ID}") #{k.Name}
            h4.heading_register Ausbildungsbetrieb
            div.form-group
                label.col-sm-3.control-label Firmenname*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Name",name="Ausbildungsbetrieb_Name",placeholder="Firmenname",type="text", required)
            div.form-group
                label.col-sm-3.control-label PLZ*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_PLZ",name="Ausbildungsbetrieb_PLZ",placeholder="Firmen-PLZ",type="number",data-maxlength="5",data-minlength="5",data-error="PLZ muss aus 5 Nummern bestehen." required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Straße*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Straße",name="Ausbildungsbetrieb_Straße",placeholder="Firmen-Straße", type="text", required)
            div.form-group
                label.col-sm-3.control-label Ort*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Ort",name="Ausbildungsbetrieb_Ort",placeholder="Ort der Firma", type="text", required)
            div.form-group
                label.col-sm-3.control-label Hausnummer*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Hausnummer",name="Ausbildungsbetrieb_Hausnummer",placeholder="Hausnummer der Firma", type="text", required)
            div.form-group
                label.col-sm-3.control-label Telefonnummer*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Telefonnummer",name="Ausbildungsbetrieb_Telefonnummer",placeholder="Telefonnummer der Firma", type="text", required)
                    span.help-block.with-errors Bitte ohne Bindestriche (-) eingeben.
            div.form-group
                label.col-sm-3.control-label E-Mail*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_EMail",name="Ausbildungsbetrieb_EMail",placeholder="E-Mail der Firma", type="email", data-error="E-Mail Adresse muss ein @ enthalten.", required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label Ansprechpartner*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner",name="Ansprechpartner",placeholder="Ansprechpartner", type="text", required)
            h4.heading_register Erziehungberechtigte
            div.form-group
                label.col-sm-3.control-label Eheleute
                div.col-sm-4
                    input.checkbox(id="Eheleute",name="Eheleute",input type="checkbox",value"1",default="0") 
            div.form-group
                label.col-sm-3.control-label Vater Vorname*
                div.col-sm-8
                    input.form-control(id="Vater_Vorname",name="Vater_Vorname", type="text", placeholder="Vorname", required)
            div.form-group
                label.col-sm-3.control-label Vater Name*
                div.col-sm-8
                    input.form-control(id="Vater_Name",name="Vater_Name", type="text", placeholder="Name", required)
            div.form-group
                label.col-sm-3.control-label Mutter Vorname*
                div.col-sm-8
                    input.form-control(id="Mutter_Vorname",name="Mutter_Vorname", type="text", placeholder="Vorname", required)
            div.form-group
                label.col-sm-3.control-label Mutter Name*
                div.col-sm-8
                    input.form-control(id="Mutter_Name",name="Mutter_Name", type="text", placeholder="Name", required)

            h4.heading_register Ansprechpartner
            h5 1.Ansprechpartner
            div.form-group
                label.col-sm-3.control-label Vorname*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_1_Vorname",name="Ansprechpartner_1_Vorname", type="text", placeholder="Vorname",  required)
            div.form-group
                label.col-sm-3.control-label Name*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_1_Name",name="Ansprechpartner_1_Name", type="text", placeholder="Name", required)
            div.form-group
                label.col-sm-3.control-label Telefonnr*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_1_Telefonnummer",name="Ansprechpartner_1_Telefonnummer", type="text", placeholder="Telefonnr.", required)
            h5 2.Ansprechpartner        
            div.form-group
                label.col-sm-3.control-label Vorname*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_2_Vorname",name="Ansprechpartner_2_Vorname", type="text", placeholder="Vorname", required)
            div.form-group
                label.col-sm-3.control-label Name*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_2_Name",name="Ansprechpartner_2_Name", type="text", placeholder="Name", required)
            div.form-group
                label.col-sm-3.control-label Telefonnr*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_2_Telefonnummer",name="Ansprechpartner_2_Telefonnummer", type="text", placeholder="Telefonnr.", required)
                    
            h4.heading_register Zuletzt besuchte Schule
            div.form-group
                label.col-sm-3.control-label Name der v. Schule*
                div.col-sm-8
                    input.form-control(id="Schule_vorher",name="Schule_vorher", type="text", placeholder="Schule", required)
            div.form-group
                label.col-sm-3.control-label Ort der v. Schule*
                div.col-sm-8
                    input.form-control(id="Schule_vorher_Ort",name="Schule_vorher_Ort", type="text", placeholder="Ort", required)                      
                          
            h4.heading_register Adresse
            div.form-group
                label.col-sm-3.control-label Wohnort*
                div.col-sm-8
                    input.form-control(id="Wohnort",name="Wohnort", type="text", placeholder="Wohnort", required)
            div.form-group
                label.col-sm-3.control-label PLZ*
                div.col-sm-8
                    input.form-control(id="PLZ",name="PLZ", type="number", placeholder="PLZ",data-maxlength="5",data-minlength="5",data-error="PLZ muss aus 5 Nummern bestehen." required)
                    div.help-block.with-errors
            div.form-group
                label.col-sm-3.control-label vorherige Straße
                div.col-sm-8
                    input.form-control(id="Straße_vorher",name="Straße_vorher", type="text", placeholder="vorherige Straße")
            div.form-group
                label.col-sm-3.control-label Straße*
                div.col-sm-8
                    input.form-control(id="Straße",name="Straße", type="text", placeholder="Straße", required)
            div.form-group
                label.col-sm-3.control-label Hausnummer*
                div.col-sm-8
                    input.form-control(id="Hausnummer",name="Hausnummer", type="text", placeholder="Hausnummer", required)
            h4.heading_register AGB
            div.form-group(id="agb-box",style='display:block; {margin-left:5px}')
                div.panel.panel-success(style="width: 90%")
                    div.panel-heading Allgemeine Geschäfts Bedingungen
                    div.panel-body Hier kommt die AGB hin.
                    div.form-group
                        div
                            input.checkbox-inline(id="AGB",name="AGB",type="checkbox",value="ja",style="margin-left: 60px",onclick="javascript:agbcheck()")
                            |  Hiermit akzeptiere ich die AGB.                        
            div
                div.mainbox.col-md-2(id="ifYes_agb", style="margin-left: 13%; width: 30%")
                    input.btn.btn-success.btn-block(name="submit", type="submit", id="submit",value="Abschicken",disabled="disabled")
            script.
                $('#Geburtsdatum').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            script.
                $('#seit').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            script.
                $('#Zuzug').datetimepicker({
                    format: 'YYYY-MM-DD'
                });            
            
