extends layout

block content
    div.container
        div.jumbotron
            h3 Sie sind nicht befugt, diese Seite zu besuchen!
            p.text
                | Sie haben nicht die erforderlichen Rechte, diese Seite zu besuchen. <br/>
                | Wenn diese Meldung falsch ist, kontaktieren Sie bitte den Seitenbetreiber unter 
                a(href="/kontakt") Kontakt
            button.btn.btn-danger(onClick="javascript:history.go(-1)") Zurück
