extends layout

block content
    div.container  
        h1 Über die Website
        | Diese Website ist für die Verwaltung der Stammdaten für die Schüler zuständig <br/>
        strong Beispieltext...
