extends ../layout

block content

    div.container
        form.form-horizontal(action="/schueler/nachricht/abschicken", method="POST")
            h2 Benachrichtigung
            div.form-group
                label.col-sm-3.control-label Klassenlehrer
                div.col-sm-8
                    each k in klasse
                        - if(daten.Klasse_ID == k.ID)
                            input.form-control(id="Klassenlehrer",name="Klassenlehrer", type="text", placeholder="Name",value="#{daten.Lehrer_Vorname}")   
            div.form-group
                label.col-sm-3.control-label Klasse
                div.col-sm-8
                    each k in klasse
                        - if(daten.Klasse_ID == k.ID)
                            input.form-control(id="Klasse",name="Klasse", type="text", placeholder="Name",value="#{k.Name}")
            script.
                $('input').each(function(){
                    $(this).prop('disabled', true);
                })
                $('select').each(function(){
                    $(this).prop('disabled', true);
                }) 
            label.control-label(style="margin-bottom:10px;") Nachricht
            div.form-group
                textarea.form-control(rows="10",id="Anfrage",name="Anfrage")
            input(name="LehrerID",value="#{daten.LehrerID}",style="display:none;")
            div.mainbox.col-md-3(id="Reset", style="margin-left: 20%")
                input.btn.btn-success.btn-block(name="reset", type="submit", id="submit",value="Ändern",style="margin-bottom:20px")  
