extends ../layout

block content
    form
        div.container.col-md-8.col-md-offset-3
            h2 Willkommen in der Schüler Stammdatenverwaltung
            | <br />
            h3 Hier können Sie
            | <br />
            b - Ihre Stammdaten überprüfen <br />
            b - Formulare ansehen und herunterladen <br />
            b - Nach Lehrern suchen <br />
            b - Einen Admin bei Fehlern kontaktieren <br />
            style.
                b {
                    font-size: 19px;
                    color: #464646;
                }
