extends ../layout

block content

    div.container
        h2 Formulare
        p(style="margin-bottom: 50px;") Hier können Sie ganz einfach Formulare herunterladen. Klicken Sie auf die kleineren Bilder, um eine große Vorschau darzustellen.
        div.container
            div.list-group
                each formular in formulare
                    div.row
                        div.col-sm-1
                            a.pop(href="#")._normal
                                img.img-responsive.imageresource(src="/schueler/formulare/view/#{formular.ID}")
                        div.col-sm-8
                            div.panel.panel-default
                                div.panel-heading #{formular.Name} 
                                    - var datum = new Date(formular.Datum)
                                    - formular.Datum = datum.getDay()+"."+datum.getMonth()+"."+datum.getFullYear()
                                    span.text-muted am #{formular.Datum}
                                    a.btn.btn-success.btn-xs._normal(href="/schueler/formulare/download/#{formular.ID}",style="float: right;") Download
                                div.panel-body
                                    | #{formular.Beschreibung} <br />
                                    div.row._mobile
                                        div.col-xs-6(style="margin-top:20px;")
                                            button.btn.btn-success.vorschau(style="display: block;margin-left: auto;margin-right: auto;",src="/schueler/formulare/view/#{formular.ID}") Vorschau
                                        div.col-xs-6(style="margin-top:20px;")
                                            button.btn.btn-success.download(style="display: block;margin-left: auto;margin-right: auto;",href="/schueler/formulare/download/#{formular.ID}") Download
                                            
    script.
        $(".pop").on("click", function() {
            $('#imagepreview').attr('src', $(this).children(".imageresource").attr('src'));
            $('#imagemodal').modal('show');
        });
        $(".vorschau").on("click", function() {
            $('#imagepreview').attr('src', $(this).attr('src'));
            $('#imagemodal').modal('show');
        });
        $(".download").on("click", function() {
            window.location.href = $(this).attr("href");
        });
    
    div.modal.fade(id="imagemodal",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal")
                        span(aria-hidden="true")&times;
                        span.sr-only Close
                    h4.modal-title(id="myModalLabel") Vorschau
                div.modal-body
                    img.img-responsive(src="",id="imagepreview")
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") Schließen
                    
