extends ../layout

block content
    div.container
        +msg()
        form.form-horizontal(action="/schueler/stammdaten/abschicken/#{daten.schüler_ID}", method="POST")
            h2 Stammdatenverwaltung
            h4.heading_register Persönliche Daten
            div.form-group
                label.col-sm-3.control-label Verifiziert
                div.col-sm-4(value="#{daten.verifiziert}")
                    -if(daten.verifiziert == 1)
                        input.checkbox(checked="checked",id="verifiziert",name="verifiziert",type="checkbox",value="1",default="0")
                    -if(daten.verifiziert != 1)
                        input.checkbox(id="verifiziert",name="verifiziert",type="checkbox",value="1",default="0")
            div.form-group
                label.col-sm-3.control-label E-Mail
                div.col-sm-8
                    input.form-control(id="EMail",name="EMail",value="#{daten.EMail}")
            //div.form-group
            //    label.col-sm-3.control-label Passwort
            //    div.col-sm-8
            //        input.form-control(id="PasswortHash",name="PasswortHash", type="password",value="#{daten.PasswortHash}")  
            div.form-group
                label.col-sm-3.control-label Anrede
                div.col-sm-2
                    select.form-control(id="Anrede",name="Anrede")
                        - if(daten.Anrede == "Herr")
                            option(selected="selected", value="Herr") Herr
                            option(value="Frau") Frau
                        - else 
                            option(value="Herr") Herr
                            option(selected="selected", value="Frau") Frau
            div.form-group
                label.col-sm-3.control-label Vorname
                div.col-sm-8
                    input.form-control(id="Vorname",name="Vorname",value="#{daten.Vorname}")
            div.form-group
                label.col-sm-3.control-label Nachname
                div.col-sm-8
                    input.form-control(id="Nachname",name="Nachname",value="#{daten.Nachname}")
            div.form-group
                label.col-sm-3.control-label Geburtsdatum
                div.col-sm-3
                    input.form-control(value="#{daten.Geburtsdatum}",id="Geburtsdatum",name="Geburtsdatum",placeholder="YYYY-MM-DD")  
            div.form-group
                label.col-sm-3.control-label Geburtsort
                div.col-sm-8
                    input.form-control(id="Geburtsort",name="Geburtsort",value="#{daten.Geburtsort}")
            div.form-group
                label.col-sm-3.control-label Telefonnummer
                div.col-sm-8
                    input.form-control(id="Telefonnummer",name="Telefonnummer",value="#{daten.Telefonnummer}")
            div.form-group
                label.col-sm-3.control-label Handynummer 
                div.col-sm-8
                    input.form-control(id="Handynummer",name="Handynummer",value="#{daten.Handynummer}")
            div.form-group
                label.col-sm-3.control-label Religion
                div.col-sm-4
                    select.form-control(id="Religion",name="Religion")
                        - if(daten.Religion == "Katholisch")
                            option(selected="selected", value="Katholisch") Katholisch
                            option(value="Evangelisch") Evangelisch
                            option(value="Ethik") Ethik
                        - if(daten.Religion == "Evangelisch")
                            option(selected="selected", value="Evangelisch") Evangelisch
                            option(value="Katholisch") Katholisch
                            option(value="Ethik") Ethik
                        - if(daten.Religion == "Ethik")
                            option(selected="selected", value="Ethik") Ethik
                            option(value="Katholisch") Katholisch
                            option(value="Evangelisch") Evangelisch
            div.form-group
                label.col-sm-3.control-label Staatsangehörigkeit
                div.col-sm-8
                    input.form-control(id="Staatsangehörigkeit",name="Staatsangehörigkeit",value="#{daten.Staatsangehörigkeit}")
            div.form-group
                label.col-sm-3.control-label Flüchtling
                div.col-sm-4(value="#{daten.Flüchtling}")
                    -if(daten.Flüchtling == 1)
                        input.checkbox(checked="checked",id="Flüchtling",name="Flüchtling",type="checkbox",value="1",default="0")
                    -if(daten.Flüchtling != 1)
                        input.checkbox(id="Flüchtling",name="Flüchtling",type="checkbox",value="1",default="0")
            div.form-group
                label.col-sm-3.control-label Einwanderer (seit)
                div.col-sm-1(value="#{daten.Einwanderer}",onclick="javascript:yesnoCheck()")
                    -if(daten.Einwanderer == 1) 
                        input.checkbox(checked="checked",id="Einwanderer",name="Einwanderer",type="checkbox",value="1",default="0")                  
                    -if(daten.Einwanderer != 1)
                        input.checkbox(id="Einwanderer",name="Einwanderer",type="checkbox",value="1",default="0")
            div.form-group
                label.col-sm-3.control-label(id="ifYes2",style="visibility:hidden") Seit
                div.col-sm-3
                    -if(daten.Einwanderer == 1)
                        div.col-sm(id="ifYes",style="visibility:visible")
                            input.form-control(id="seit",name="Einwanderer_seit",placeholder="YYYY-MM-DD",value="#{daten.Einwanderer_seit}") 
                    -if(daten.Einwanderer != 1)          
                        div.col-sm(id="ifYes",style="visibility:hidden")
                            input.form-control(id="seit",name="Einwanderer_seit",placeholder="YYYY-MM-DD") 
            div.form-group
                label.col-sm-3.control-label Zuzug nach Deutschland
                div.col-sm-3
                    input.form-control(value="#{daten.Zuzug}",id="Zuzug",name="Zuzug",placeholder="YYYY-MM-DD")  
            div.form-group
                label.col-sm-3.control-label Familiensprache*
                div.col-sm-3
                    input.form-control(id="Familiensprache",name="Familiensprache",value="#{daten.Familiensprache}")
            div.form-group
                label.col-sm-3.control-label vorheriger Abschluss*
                div.col-sm-6
                    select.form-control(id="Abschluss_vorher",name="Abschluss_vorher")
                        - if(daten.Abschluss_vorher == "Hauptschulabschluss")
                            option(selected="selected",value"Hauptschulabschluss") Hauptschulabschluss
                            option(value="Qualifizierter Hauptschulabschluss") Qualifizierter Hauptschulabschluss
                            option(value="Realschulabschluss") Realschulabschluss
                            option(value="Fachhochschulreife") Fachhochschulreife
                            option(value="Abitur") Abitur
                        - if(daten.Abschluss_vorher == "Qualifizierter Hauptschulabschluss")
                            option(selected="selected",value="Qualifizierter Hauptschulabschluss") Qualifizierter Hauptschulabschluss
                            option(value"Hauptschulabschluss") Hauptschulabschluss
                            option(value="Realschulabschluss") Realschulabschluss
                            option(value="Fachhochschulreife") Fachhochschulreife
                            option(value="Abitur") Abitur
                        - if(daten.Abschluss_vorher == "Realschulabschluss")
                            option(selected="selected",value="Realschulabschluss") Realschulabschluss
                            option(value"Hauptschulabschluss") Hauptschulabschluss
                            option(value="Qualifizierter Hauptschulabschluss") Qualifizierter Hauptschulabschluss
                            option(value="Fachhochschulreife") Fachhochschulreife
                            option(value="Abitur") Abitur
                        - if(daten.Abschluss_vorher == "Fachhochschulreife")
                            option(selected="selected",value="Fachhochschulreife") Fachhochschulreife
                            option(value"Hauptschulabschluss") Hauptschulabschluss
                            option(value="Qualifizierter Hauptschulabschluss") Qualifizierter Hauptschulabschluss
                            option(value="Realschulabschluss") Realschulabschluss
                            option(value="Abitur") Abitur
                        - if(daten.Abschluss_vorher == "Abitur")
                            option(selected="selected",value="Abitur") Abitur
                            option(value="Fachhochschulreife") Fachhochschulreife
                            option(value"Hauptschulabschluss") Hauptschulabschluss
                            option(value="Qualifizierter Hauptschulabschluss") Qualifizierter Hauptschulabschluss
                            option(value="Realschulabschluss") Realschulabschluss
            h4.heading_register Ausbildungsbetrieb                
            div.form-group
                label.col-sm-3.control-label Firmenname*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Name",name="Ausbildungsbetrieb_Name",value="#{daten.Ausbildungsbetrieb_Name}")
            div.form-group
                label.col-sm-3.control-label PLZ*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_PLZ",name="Ausbildungsbetrieb_PLZ",value="#{daten.Ausbildungsbetrieb_PLZ}")
            div.form-group
                label.col-sm-3.control-label Straße*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Straße",name="Ausbildungsbetrieb_Straße",value="#{daten.Ausbildungsbetrieb_Straße}")
            div.form-group
                label.col-sm-3.control-label Ort*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Ort",name="Ausbildungsbetrieb_Ort",value="#{daten.Ausbildungsbetrieb_Ort}")
            div.form-group
                label.col-sm-3.control-label Hausnummer*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Hausnummer",name="Ausbildungsbetrieb_Hausnummer",value="#{daten.Ausbildungsbetrieb_Hausnummer}")
            div.form-group
                label.col-sm-3.control-label Telefonnummer*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_Telefonnummer",name="Ausbildungsbetrieb_Telefonnummer",value="#{daten.Ausbildungsbetrieb_Telefonnummer}")
            div.form-group
                label.col-sm-3.control-label E-Mail*
                div.col-sm-8
                    input.form-control(id="Ausbildungsbetrieb_EMail",name="Ausbildungsbetrieb_EMail",value="#{daten.Ausbildungsbetrieb_EMail}")
            div.form-group
                label.col-sm-3.control-label Ansprechpartner*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner",name="Ansprechpartner",value="#{daten.Ansprechpartner}")
            // TODO: Ausgabe falsch, absturz bei änderung
            div.form-group
                label.col-sm-3.control-label Ausbildungsberuf*
                div.col-sm-6
                    select.form-control(id="Ausbildungsberuf_Name",name="Ausbildungsberuf_Name",placeholder="Ausbildungsberuf")
                        each ausbildungsberuf in ausbildungsberufe
                            - if(daten.Ausbildungsberuf_ID == ausbildungsberuf.ID)
                                option(selected="selected",value="#{ausbildungsberuf.Ausbildungsberuf_ID}") #{ausbildungsberuf.Ausbildungsberuf_Name}
                            - else 
                                option(value="#{ausbildungsberuf.Ausbildungsberuf_ID}") #{ausbildungsberuf.Ausbildungsberuf_Name} 
            div.form-group
               label.col-sm-3.control-label Klasse*
               div.col-sm-4
                    select.form-control(id="Klasse_Name",name="Klasse_Name",placeholder="Klasse")
                        each k in klasse
                            - if(daten.Klasse_ID == k.ID)
                                option(selected="selected",value="#{k.ID}") #{k.Name}
                            - else 
                                option(value="#{k.ID}") #{k.Name}
            h4.heading_register Erziehungberechtigte
            div.form-group
                label.col-sm-3.control-label Eheleute
                div.col-sm-4(value="#{daten.Eheleute}")
                    -if(daten.Eheleute == 1) 
                        input.checkbox(checked="checked",id="Eheleute",name="Eheleute",type="checkbox",value="1",default="0")
                    -if(daten.Eheleute != 1)
                        input.checkbox(id="Eheleute",name="Eheleute",type="checkbox",value="1",default="0")
            div.form-group
                label.col-sm-3.control-label Vater Vorname*
                div.col-sm-8
                    input.form-control(id="Vater_Vorname",name="Vater_Vorname", type="text", placeholder="Vorname",value="#{daten.Vater_Vorname}")
            div.form-group
                label.col-sm-3.control-label Vater Name*
                div.col-sm-8
                    input.form-control(id="Vater_Name",name="Vater_Name", type="text", placeholder="Name",value="#{daten.Vater_Name}")
            div.form-group
                label.col-sm-3.control-label Mutter Vorname*
                div.col-sm-8
                    input.form-control(id="Mutter_Vorname",name="Mutter_Vorname", type="text", placeholder="Vorname",value="#{daten.Mutter_Vorname}")
            div.form-group
                label.col-sm-3.control-label Mutter Name*
                div.col-sm-8
                    input.form-control(id="Mutter_Name",name="Mutter_Name", type="text", placeholder="Name",value="#{daten.Mutter_Name}")
            h4.heading_register Ansprechpartner
            h5 1.Ansprechpartner
            div.form-group
                label.col-sm-3.control-label Vorname*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_1_Vorname",name="Ansprechpartner_1_Vorname", type="text", placeholder="Vorname",value="#{daten.Ansprechpartner_1_Vorname}")
            div.form-group
                label.col-sm-3.control-label Name*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_1_Name",name="Ansprechpartner_1_Name", type="text", placeholder="Name",value="#{daten.Ansprechpartner_1_Name}")
            div.form-group
                label.col-sm-3.control-label Telefonnr*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_1_Telefonnummer",name="Ansprechpartner_1_Telefonnummer", type="text", placeholder="Telefonnr.",value="#{daten.Ansprechpartner_1_Telefonnummer}")
            h5 2.Ansprechpartner        
            div.form-group
                label.col-sm-3.control-label Vorname*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_2_Vorname",name="Ansprechpartner_2_Vorname", type="text", placeholder="Vorname",value="#{daten.Ansprechpartner_2_Vorname}")
            div.form-group
                label.col-sm-3.control-label Name*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_2_Name",name="Ansprechpartner_2_Name", type="text", placeholder="Name",value="#{daten.Ansprechpartner_2_Name}")
            div.form-group
                label.col-sm-3.control-label Telefonnr*
                div.col-sm-8
                    input.form-control(id="Ansprechpartner_2_Telefonnummer",name="Ansprechpartner_2_Telefonnummer", type="text", placeholder="Telefonnr.",value="#{daten.Ansprechpartner_2_Telefonnummer}")
            h4.heading_register Zuletzt besuchte Schule
            div.form-group
                label.col-sm-3.control-label Name der v. Schule*
                div.col-sm-8
                    input.form-control(id="Schule_vorher",name="Schule_vorher", type="text", placeholder="Schule",value="#{daten.Schule_vorher}")
            div.form-group
                label.col-sm-3.control-label Ort der v. Schule*
                div.col-sm-8
                    input.form-control(id="Schule_vorher_Ort",name="Schule_vorher_Ort", type="text", placeholder="Ort",value="#{daten.Schule_vorher_Ort}")    
            h4.heading_register Adresse
            div.form-group
                label.col-sm-3.control-label Wohnort*
                div.col-sm-8
                    input.form-control(id="Wohnort",name="Wohnort", type="text", placeholder="Wohnort",value="#{daten.Wohnort}")
            div.form-group
                label.col-sm-3.control-label PLZ*
                div.col-sm-8
                    input.form-control(id="PLZ",name="PLZ", type="int", placeholder="PLZ",value="#{daten.PLZ}")
            div.form-group
                label.col-sm-3.control-label vorherige Straße
                div.col-sm-8
                    - if (daten.Straße_vorher != null)
                        input.form-control(id="Straße_vorher",name="Straße_vorher", type="text", placeholder="vorherige Straße",value="#{daten.Straße_vorher}")
                    - else 
                        input.form-control(id="Straße_vorher",name="Straße_vorher", type="text", placeholder="vorherige Straße",value="")    
            div.form-group
                label.col-sm-3.control-label Straße*
                div.col-sm-8
                    input.form-control(id="Straße",name="Straße", type="text", placeholder="Straße",value="#{daten.Straße}")
            div.form-group
                label.col-sm-3.control-label Hausnummer*
                div.col-sm-8
                    input.form-control(id="Hausnummer",name="Hausnummer", type="text", placeholder="Hausnummer",value="#{daten.Hausnummer}") 
            h4.heading_register Abgegebene Formulare 
            div.form-group
                label.col-sm-3.control-label Schulordnung
                div.col-sm-4
                    - if(daten.Formular1 == "1")
                        input.checkbox(checked="checked",id="Formular1",name="Formular1",type="checkbox",value="1")
                    - else 
                        input.checkbox(type="checkbox",value="1",id="Formular1",name="Formular1") 
                    div.col-sm-4
                        a.btn.btn-success.btn-xs(href="/schueler/formulare/view/1",target="_blank") View 
            div.form-group
                label.col-sm-3.control-label Formular2
                div.col-sm-4
                    - if(daten.Formular2 == "1")
                        input.checkbox(checked="checked",id="Formular2",name="Formular2",type="checkbox",value="1")
                    - else 
                        input.checkbox(type="checkbox",id="Formular2",name="Formular2",value="1") 
                    div.col-sm-4
                        a.btn.btn-success.btn-xs(href="/schueler/formulare/view/2",target="_blank") View
            div.form-group
                label.col-sm-3.control-label Formular3
                div.col-sm-4
                    - if(daten.Formular3 == "1")
                        input.checkbox(checked="checked",id="Formular3",name="Formular3",type="checkbox",value="1")
                    - else 
                        input.checkbox(type="checkbox",id="Formular3",name="Formular3",value="1")
                    div.col-sm-4
                        a.btn.btn-success.btn-xs(href="/schueler/formulare/view/3",target="_blank") View 
            div.form-group
                label.col-sm-3.control-label Formular4
                div.col-sm-4
                    - if(daten.Formular4 == "1")
                        input.checkbox(checked="checked",id="Formular4",name="Formular4",type="checkbox",value="1")
                    - else 
                        input.checkbox(type="checkbox",id="Formular4",name="Formular4",value="1") 
                    div.col-sm-4
                        a.btn.btn-success.btn-xs(href="/schueler/formulare/view/4",target="_blank") View 
            div.form-group
                label.col-sm-3.control-label Formular5
                div.col-sm-4
                    - if(daten.Formular5 == "1")
                        input.checkbox(checked="checked",id="Formular5",name="Formular5",type="checkbox",value="1")
                    - else 
                        input.checkbox(type="checkbox",id="Formular5",name="Formular5",value="1") 
                    div.col-sm-4
                        a.btn.btn-success.btn-xs(href="/schueler/formulare/view/5",target="_blank") View 
                        
            - if(sess.typ == UserType.schüler)
                script.
                    $('input').each(function(){
                        $(this).prop('disabled', true);
                    })
                    $('select').each(function(){
                        $(this).prop('disabled', true);
                    })
                
            div.mainbox.col-md-3(id="Reset", style="margin-left: 16%")
                - if(sess.typ == UserType.schüler)
                    a.btn.btn-success.btn-block(href="/schueler/benachrichtigung") Lehrer kontaktieren               
                - else
                    input.btn.btn-success.btn-block(name="reset", type="submit", id="submit",value="Ändern",style="margin-bottom:20px")
            script.
                $( document ).ready(function() {
                    yesnoCheck();
                });
            
            - if(sess.typ == UserType.lehrer)
                script.
                    $('#Klasse_Name').each(function(){
                        $(this).prop('disabled', true);
                    })
                
            - if(sess.typ != UserType.admin)
                - if(sess.Klasse_ID != daten.Klasse_ID)
                    script.
                        console.log("hier");
                        $('input').each(function(){
                            $(this).prop('disabled', true);
                        })
                        $('select').each(function(){
                            $(this).prop('disabled', true);
                        }) 

            - if(daten.Einwanderer_seit == "0000-00-00" || daten.Einwanderer_seit == "null" || daten.Einwanderer_seit == "undefined")
                script.
                    $('#seit').datetimepicker({
                        format: 'YYYY-MM-DD'
                    });
            - if(daten.Geburtsdatum == "0000-00-00" || daten.Geburtsdatum == "null" || daten.Geburtsdatum == "undefined")
                script.
                    $('#Geburtsdatum').datetimepicker({
                        format: 'YYYY-MM-DD'
                    });
            -if(daten.Zuzug == "0000-00-00" || daten.Zuzug == "null" || daten.Zuzug == "undefined")
                script.
                    $('#Zuzug').datetimepicker({
                        format: 'YYYY-MM-DD'
                    });         
