body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#username {
  background-color: #00B7FF;
}

.form-group {
  width: 70%;
}

._normal {
  display: inline;
}
._mobile {
  display: none;
}

@media (max-width: 767px) {
  .form-group {
  width: 100%;
  }
  #agb-box {
  margin-left: 4px !important;
  width: 100% !important;
  }
  ._normal {
  display: none !important;
  }
  ._mobile {
  display: inline !important;
  }
}

#registerText {
  font-size: 16px;
  font-weight: 400;
}

.text {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.heading_register {
  padding-left: ;
}

.timestamp-label {
  font-size: 11px !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.footer {
  background-color: #ecf0f1 !important;
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 28px;
}

.navbar {min-height:28px !important;}

.wrap {
  margin-bottom:40px;
}
