extends ../layout

block content

    div.container
        h2 Betrieb   
        div.container
            form.form-horizontal(action="/betrieb/#{betriebe.ID}/abschicken", method="POST")          
                div.form-group
                    label.col-sm-3.control-label Firmenname*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_Name",name="Ausbildungsbetrieb_Name",value="#{betriebe.Ausbildungsbetrieb_Name}")
                div.form-group
                    label.col-sm-3.control-label PLZ*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_PLZ",name="Ausbildungsbetrieb_PLZ",value="#{betriebe.Ausbildungsbetrieb_PLZ}")
                div.form-group
                    label.col-sm-3.control-label Straße*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_Straße",name="Ausbildungsbetrieb_Straße",value="#{betriebe.Ausbildungsbetrieb_Straße}")
                div.form-group
                    label.col-sm-3.control-label Ort*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_Ort",name="Ausbildungsbetrieb_Ort",value="#{betriebe.Ausbildungsbetrieb_Ort}")
                div.form-group
                    label.col-sm-3.control-label Hausnummer*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_Hausnummer",name="Ausbildungsbetrieb_Hausnummer",value="#{betriebe.Ausbildungsbetrieb_Hausnummer}")
                div.form-group
                    label.col-sm-3.control-label Telefonnummer*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_Telefonnummer",name="Ausbildungsbetrieb_Telefonnummer",value="#{betriebe.Ausbildungsbetrieb_Telefonnummer}")
                div.form-group
                    label.col-sm-3.control-label E-Mail*
                    div.col-sm-8
                        input.form-control(id="Ausbildungsbetrieb_EMail",name="Ausbildungsbetrieb_EMail",value="#{betriebe.Ausbildungsbetrieb_EMail}")
                div.mainbox.col-md-3(id="Reset", style="margin-left: 20%")
                    input.btn.btn-success.btn-block(name="reset", type="submit", id="submit",value="Ändern",style="margin-bottom:20px")  
