extends ../layout

block content

    div.container
        h2 Betriebe
        +msg()
        p(style="margin-bottom:20px;")
            | Hier können Sie ganz einfach nach Betrieben aus der gesamten Datenbank suchen. <br />
            | Reguläre Ausdrücke sind unterstützt!
        input.form-control(type="text", id="suche", name="suche", spellcheck="false")
        table.table.table-striped.table-hover
            thead
                tr
                    th Name
                    th Ort
                    th PLZ
                    th Telefonnummer
                    th
            tbody.liste
                - console.log(betriebe)
                for b in betriebe
                    tr
                        td #{b.Ausbildungsbetrieb_Name}
                        td #{b.Ausbildungsbetrieb_PLZ}
                        td #{b.Ausbildungsbetrieb_Ort}
                        td #{b.Ausbildungsbetrieb_Telefonnummer}
                        td
                            a.btn.btn-sm.btn-danger.del-btn(src="/betriebe/#{b.ID}/delete",style="margin-right: 5px")
                                span.glyphicon.glyphicon-remove
                            a.btn.btn-sm.btn-info(href="/betrieb/#{b.ID}")
                                span.glyphicon.glyphicon-pencil
                                
    script.
        $(document).ready(function () {
            (function ($) {
                $("#suche").keyup(function () {
                    var suchbegriff = $(this).val();
                    $(".liste tr").each(function(){
                        console.log($(this).text().search(new RegExp(suchbegriff, "i")));
                        if ($(this).text().search(new RegExp(suchbegriff, "i")) < 0) {
                            $(this).fadeOut();
                        } else {
                            $(this).fadeIn();
                        }
                    });
    
                })
    
            }(jQuery));
        });
        
        $(".del-btn").on("click", function() {
            $("#delete").attr("href", $(this).attr("src"));
            $("#confirm").modal("show");
        });
        
        
    div.modal.fade(id="confirm",role="dialog",aria-hidden="true",tabindex="-1")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    | Wollen Sie den Betrieb wirklich löschen?
                div.modal-footer
                    a.btn.btn-primary(id="delete",type="button",href="") Löschen
                    button.btn(type="button",data-dismiss="modal") Abbrechen
