extends ../layout

block content
    form
        div.container.col-md-8.col-md-offset-3
            h2 Willkommen in der Lehrer Stammdatenverwaltung
            | <br />
            h4 Hier können Sie
            | <br />
            b - Ihre Stammdaten überprüfen <br />
            b - Ihre Klasse ansehen und bearbeiten <br />
            b - Formulare ansehen, herunterladen und bearbeiten <br />
            b - Betriebe ansehen, bearbeiten und löschen <br />
            b - Alle Schüler durchsuchen und diese im Detail ansehen <br />
            b - Alle Lehrer durchsuchen und diese im Detail ansehen <br />
            b - Ihre Benarichtigungen prüfen <br />
            b - Einen Admin bei Fehlern kontaktieren <br />
            style.
                b {
                    font-size: 19px;
                    color: #464646;
                }
