extends ../layout

block content

    div.container
        h2 Formulare
        p(style="margin-bottom: 50px;") Hier können Sie das Formular bearbeiten oder ein neues hinzufügen. <br/>
        div.container
            form.form-horizontal(action="/formular/post", method="POST",enctype="multipart/form-data")
                div.form-group
                    label.col-sm-3.control-label Name
                    div.col-sm-8
                        input.form-control(value="#{formular.Name}",name="Name")
                div.form-group
                    label.col-sm-3.control-label Beschreibung
                    div.col-sm-8
                        textarea.form-control(rows="10",name="Beschreibung") #{formular.Beschreibung}
                div.form-group
                    label.col-sm-3.control-label Formular
                    div.col-sm-8
                        span.btn.btn-default.btn-file.btn-block Datei auswählen
                            input(type="file",name="Formular",accept="image/jpeg")
                input(name="ID",value="#{formular.ID}",style="display:none;")
                
                div.span7.text-center    
                    button.btn.btn-success.btn-block(type="submit",style="margin-top:50px;width:60%;") Abschicken
