extends ../layout

block content

    div.container
        h2 Formulare
        p(style="margin-bottom: 10px;") 
        | Hier können Sie ganz einfach Formulare herunterladen. Klicken Sie auf die kleineren Bilder, um eine große Vorschau darzustellen.
        | <br/>
        +msg()
        a.btn.btn-success.btn-xs(href="/formulare/new/edit",style="margin:20px") Neues Formular erstellen
        div.container
            div.list-group
                each formular in formulare
                    div.row
                        div.col-sm-1
                            a.pop(href="#")._normal
                                img.img-responsive.imageresource(src="/schueler/formulare/view/#{formular.ID}")
                        div.col-sm-8
                            div.panel.panel-default
                                div.panel-heading #{formular.Name} 
                                    span.text-muted am #{formular.DatumFormat}
                                    a.btn.btn-success.btn-xs._normal(href="/schueler/formulare/download/#{formular.ID}",style="float: right;") Download
                                    a.btn.btn-info.btn-xs._normal(href="/formulare/#{formular.ID}/edit",style="float: right;margin-right:5px;") Bearbeiten
                                    a.btn.btn-danger.btn-xs._normal.del-btn(src="/formulare/#{formular.ID}/delete",style="float: right;margin-right:5px;") Löschen
                                div.panel-body
                                    | #{formular.Beschreibung} <br />
                                    div.row._mobile
                                        div.col-xs-6(style="margin-top:20px;")
                                            button.btn.btn-success.vorschau(style="display: block;margin-left: auto;margin-right: auto;",src="/formulare/view/#{formular.ID}") Vorschau
                                        div.col-xs-6(style="margin-top:20px;")
                                            button.btn.btn-success.download(style="display: block;margin-left: auto;margin-right: auto;",href="/formulare/download/#{formular.ID}") Download
                                    div.row._mobile
                                        div.col-xs-6(style="margin-top:20px;")
                                            a.btn.btn-info.btn-xs(style="display: block;margin-left: auto;margin-right: auto;",src="/formulare/#{formular.ID}/edit") Bearbeiten
                                        div.col-xs-6(style="margin-top:20px;")
                                            button.btn.btn-danger.btn-xs.del-btn(style="display: block;margin-left: auto;margin-right: auto;",src="/formulare/#{formular.ID}/delete") Löschen
    script.
        $(".pop").on("click", function() {
            $("#imagepreview").attr("src", $(this).children(".imageresource").attr("src"));
            $("#imagemodal").modal("show");
        });
        $(".vorschau").on("click", function() {
            $("#imagepreview").attr("src", $(this).attr("src"));
            $("#imagemodal").modal("show");
        });
        $(".download").on("click", function() {
            window.location.href = $(this).attr("href");
        });
        $(".del-btn").on("click", function() {
            $("#delete").attr("href", $(this).attr("src"));
            $("#confirm").modal("show");
        });
    
    div.modal.fade(id="imagemodal",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal")
                        span(aria-hidden="true")&times;
                        span.sr-only Close
                    h4.modal-title(id="myModalLabel") Vorschau
                div.modal-body
                    img.img-responsive(src="",id="imagepreview")
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") Schließen
                    
    
    div.modal.fade(id="confirm",role="dialog",aria-hidden="true",tabindex="-1")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    | Wollen Sie das Formular wirklich löschen?
                div.modal-footer
                    a.btn.btn-primary(id="delete",type="button",href="") Löschen
                    button.btn(type="button",data-dismiss="modal") Abbrechen
