extends ../layout

block content

    div.container
        h2 Ihre Klasse
        table.table.table-striped.table-hover
            thead
                tr
                    th Vorname
                    th Nachname
                    th E-Mail
                    th  
            tbody
                - console.log(schülers)
                for s in schülers
                    tr
                        td #{s.Vorname}
                        td #{s.Nachname}
                        td #{s.EMail}
                        td
                            a.btn.btn-sm.btn-danger(href="/klasse/schueler/#{s.ID}/delete",style="margin-right: 5px")
                                span.glyphicon.glyphicon-remove
                            a.btn.btn-sm.btn-info(href="/klasse/schueler/#{s.ID}",style="margin-right: 5px")
                                span.glyphicon.glyphicon-pencil
                            a.btn.btn-sm.btn-primary(href="/schueler/pdf/#{s.ID}",style="margin-right: 5px")
                                span.glyphicon.glyphicon-envelope
