extends ../layout

block content

    div.container
        form.form-horizontal(action="/nachricht/#{nachricht.ID}/delete")
            h2 Benachrichtigung
            div.form-group
                label.col-sm-3.control-label Von Schüler
                div.col-sm-8
                    input.form-control(id="Schülername",name="Schülername", type="text", placeholder="Name",value="#{nachricht.Vorname}") 
            div.form-group
                label.col-sm-3.control-label Datum
                div.col-sm-8
                    input.form-control(id="Schülername",name="Schülername", type="text", placeholder="Name",value="#{nachricht.Zeitstempel}")  
            label.control-label(style="margin-bottom:10px;") Nachricht
            div.form-group
                textarea.form-control(rows="10",id="Nachricht",name="Nachricht") #{nachricht.Nachricht}  
            script.
                $('input').each(function(){
                    $(this).prop('disabled', true);
                })
                $('textarea').each(function(){
                    $(this).prop('disabled', true);
                })  
            div.mainbox.col-md-3(id="Reset", style="margin-left: 20%")
                input.btn.btn-success.btn-block(name="reset", type="submit", id="submit",value="Bearbeitet",style="margin-bottom:20px")  
