extends ../layout

block content

    div.container
        h2 Schüler
        p(style="margin-bottom:20px;")
            | Hier können Sie ganz einfach nach Schüler aus der gesamten Datenbank suchen. <br />
            | Reguläre Ausdrücke sind unterstützt!
        input.form-control(type="text", id="suche", name="suche", spellcheck="false")
        table.table.table-striped.table-hover
            thead
                tr
                    th Vorname
                    th Nachname
                    th E-Mail
                    th  
            tbody.liste
                for s in schülers
                    tr
                        td #{s.Vorname}
                        td #{s.Nachname}
                        td #{s.EMail}
                        td
                            a.btn.btn-sm.btn-danger.del-btn(src="/klasse/schueler/#{s.ID}/delete",style="margin-right: 5px")
                                span.glyphicon.glyphicon-remove
                            a.btn.btn-sm.btn-info(href="/klasse/schueler/#{s.ID}",style="margin-right: 5px")
                                span.glyphicon.glyphicon-pencil
                            a.btn.btn-sm.btn-primary(href="/schueler/pdf/#{s.ID}",style="margin-right: 5px")
                                span.glyphicon.glyphicon-envelope

    script.
        $(document).ready(function () {
            (function ($) {
                $("#suche").keyup(function () {
                    var suchbegriff = $(this).val();
                    $(".liste tr").each(function(){
                        console.log($(this).text().search(new RegExp(suchbegriff, "i")));
                        if ($(this).text().search(new RegExp(suchbegriff, "i")) < 0) {
                            $(this).fadeOut();
        				} else {
        					$(this).fadeIn();
        				}
        			});

                })

            }(jQuery));
        });
        $(".del-btn").on("click", function() {
            $("#delete").attr("href", $(this).attr("src"));
            $("#confirm").modal("show");
        });
        
    div.modal.fade(id="confirm",role="dialog",aria-hidden="true",tabindex="-1")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    | Wollen Sie den Schüler wirklich löschen?
                div.modal-footer
                    a.btn.btn-primary(id="delete",type="button",href="") Löschen
                    button.btn(type="button",data-dismiss="modal") Abbrechen
