extends ../layout
block content
    div.container
        form.form-horizontal(action="/stammdaten/abschicken/#{lehrer.Lehrer_ID}", method="POST")
            h2 Stammdatenverwaltung
            h4.heading_register Persönliche Daten
            div.form-group
                label.col-sm-3.control-label E-Mail
                div.col-sm-8
                    input.form-control(id="Lehrer_EMail",name="Lehrer_EMail", type="text",value="#{lehrer.EMail}")
            //div.form-group
            //    label.col-sm-3.control-label Passwort
            //    div.col-sm-8
            //        input.form-control(id="Lehrer_PasswortHash",name="Lehrer_PasswortHash", type="password", placeholder="Passwort",value="#{lehrer.PasswortHash}") 
            div.form-group
                label.col-sm-3.control-label Anrede
                div.col-sm-2
                    select.form-control(id="Lehrer_Anrede",name="Lehrer_Anrede",placeholder="Auswählen")
                        - if(lehrer.Anrede == "Herr")
                            option(selected="selected", value="Herr") Herr
                            option(value="Frau") Frau
                        - else 
                            option(value="Herr") Herr
                            option(selected="selected", value="Frau") Frau
            div.form-group
                label.col-sm-3.control-label Vorname
                div.col-sm-8
                    input.form-control(id="Lehrer_Vorname",name="Lehrer_Vorname", type="text",value="#{lehrer.Vorname}")
            div.form-group
                label.col-sm-3.control-label Nachname
                div.col-sm-8
                    input.form-control(id="Lehrer_Nachname",name="Lehrer_Nachname", type="text",value="#{lehrer.Nachname}")
            - if(typeof klasse == "undefined")
                div.form-group
                    label.col-sm-3.control-label Klassenlehrer der Klasse
                    div.col-sm-4
                        input.form-control(id="Lehrer_Klasse",name="Lehrer_Klasse", type="text",value="")
            -else
                div.form-group
                    -if(typeof klasse.ID < 1)
                        label.col-sm-3.control-label Klassenlehrer der Klasse
                        div.col-sm-4
                            input.form-control(id="Lehrer_Klasse",name="Lehrer_Klasse", type="text",value="")
                    -else 
                        label.col-sm-3.control-label Klassenlehrer der Klasse
                        div.col-sm-4
                            input.form-control(id="Lehrer_Klasse",name="Lehrer_Klasse", type="text",value="#{klasse.Name}")
            div.form-group
                label.col-sm-3.control-label Geburtsdatum
                div.col-sm-3
                    input.form-control(value="#{lehrer.Geburtsdatum}",id="Lehrer_Geburtsdatum",name="Lehrer_Geburtsdatum")  
            div.form-group
                label.col-sm-3.control-label Telefonnummer
                div.col-sm-8
                    input.form-control(value="#{lehrer.Telefonnummer}",id="Lehrer_Telefonnummer",name="Lehrer_Telefonnummer", type="text")
            div.form-group
                label.col-sm-3.control-label Handynummer 
                div.col-sm-8
                    input.form-control(value="#{lehrer.Handynummer}",id="Lehrer_Handynummer",name="Lehrer_Handynummer", type="text")
            h4.heading_register Adresse
            div.form-group
                label.col-sm-3.control-label Wohnort*
                div.col-sm-8
                    input.form-control(id="Lehrer_wohnort",name="Lehrer_wohnort", type="text",value="#{lehrer.Wohnort}")
            div.form-group
                label.col-sm-3.control-label PLZ*
                div.col-sm-8
                    input.form-control(id="Lehrer_plz",name="Lehrer_plz", type="int",value="#{lehrer.PLZ}")
            div.form-group
                label.col-sm-3.control-label vorherige Straße
                div.col-sm-8
                    - if (lehrer.Straße_vorher != null)
                        input.form-control(id="Lehrer_straße_vorher",name="Lehrer_straße_vorher", type="text",value="#{lehrer.Straße_vorher}")
                    - else
                        input.form-control(id="Lehrer_straße_vorher",name="Lehrer_straße_vorher", type="text",value="")
            div.form-group
                label.col-sm-3.control-label Straße*
                div.col-sm-8
                    input.form-control(id="Lehrer_straße",name="Lehrer_straße", type="text",value="#{lehrer.Straße}")
            div.form-group
                label.col-sm-3.control-label Hausnummer*
                div.col-sm-8
                    input.form-control(id="Lehrer_hausnummer",name="Lehrer_hausnummer",type="text",value="#{lehrer.Hausnummer}")   
            div.mainbox.col-md-3(id="Ändern", style="margin-left: 16%")
                input.btn.btn-success.btn-block(name="submit", type="submit", id="reset",value="Stammdaten Ändern",style="margin-bottom:20px")  
                           
            - if(sess.typ != UserType.admin)
                -if(sess.LehrerID != lehrer.ID)
                    script.
                        console.log("hier");
                        $('input').each(function(){
                            $(this).prop('disabled', true);
                        })
                        $('select').each(function(){
                            $(this).prop('disabled', true);
                        })

            - if(sess.typ == UserType.lehrer)             
                script.
                    $('#Lehrer_Klasse').prop('disabled', true);

            - if(lehrer.Geburtsdatum == "0000-00-00" || lehrer.Geburtsdatum == "null" || lehrer.Geburtsdatum == "undefined")
                script.
                    $('#Geburtsdatum').datetimepicker({
                        format: 'YYYY-MM-DD'
                    });        
