ul.nav.navbar-nav
    +eintrag("/formulare", "Formulare")
    +eintrag("/schuelersuche", "Schüler")
    +eintrag("/lehrersuche", "Lehrer")
    +eintrag("/betriebe", "Betriebe")
    +eintrag("/ausbildungsberufe", "Ausbildungsberufe")
    +eintrag("/klassen", "Klassen")
ul.nav.navbar-nav.navbar-right
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown", role="button", aria-expanded="false") Nachrichten 
            span.badge #{sess.benachrichtigungen_admin.count}
            span.caret
        ul.dropdown-menu(role="menu")
            each b in sess.benachrichtigungen_admin
                li
                    a(href="/admin/nachricht/#{b.ID}") Nachricht
                        - var datum = new Date(b.Zeitstempel)
                        - b.Zeitstempel = datum.getDay()+"."+datum.getMonth()+"."+datum.getFullYear()
                        p.text-muted(style="margin-top:5px;") von #{b.Vorname} #{b.Nachname} am #{b.Zeitstempel}
                li.divider
                    
    li.active
        a(href='/dashboard', id="username") Administrator
    li
        a(href='/logout')
            span.glyphicon.glyphicon-off
