ul.nav.navbar-nav
    
    +eintrag("/klasse", "Klasse")
    +eintrag("/formulare", "Formulare")
    +eintrag("/betriebe", "Betriebe")
    +eintrag("/schuelersuche", "Schülersuche")
    +eintrag("/lehrersuche", "Lehrersuche")
ul.nav.navbar-nav.navbar-right
    li.dropdown
        a.dropdown-toggle(data-toggle="dropdown", role="button", aria-expanded="false") Nachrichten 
            span.badge #{sess.benachrichtigungen.count}
            span.caret
        ul.dropdown-menu(role="menu")
            each b in sess.benachrichtigungen
                li
                    a(href="/nachricht/#{b.ID}") Nachricht
                        - var datum = new Date(b.Zeitstempel)
                        - b.Zeitstempel = datum.getDay()+"."+datum.getMonth()+"."+datum.getFullYear()
                        p.text-muted(style="margin-top:5px;") von #{b.Vorname} #{b.Nachname} am #{b.Zeitstempel}
                li.divider
                    
    li.active
        a(href='/stammdaten/', id="username") #{sess.name}    
    li
        a(href='/logout')
            span.glyphicon.glyphicon-off
