ul.nav.navbar-nav
    +eintrag("/stammdaten", "Stammdaten")
    +eintrag("/formulare", "Formulare")
    +eintrag("/lehrersuche", "Lehrersuche")
    +eintrag("/benachrichtigung", "Kontakt")
ul.nav.navbar-nav.navbar-right
    li.active
        a(href='/stammdaten/', id="username") #{sess.name}
    li
        a(href='/logout')
            span.glyphicon.glyphicon-off
